# Assignment 2

Use the "Run" button to execute the code.

In [240]:
pip install memory-profiler
import pandas as pd
import numpy as np
import logging
import time
import memory_profiler

In [243]:

# Configure logging
logging.basicConfig(filename='simulation.log', level=logging.INFO, format='%(asctime)s [%(levelname)s] [%(name)s]: %(message)s')
logger = logging.getLogger(__name__)
start_time = time.time()

In [36]:
#setting the random seed for the reproducibility
np.random.seed(42)

In [37]:
#createing 20000 unique 7 digit customer ids.
customer_ID = np.random.choice(range(1000000, 10000000), size=20000, replace=False)

In [65]:
customer_ID = customer_ID.tolist()

In [71]:
#genrating age between 20 to 80 years
ages = np.random.uniform(low=20, high=80, size=20000)

In [72]:
ages = ages.round().astype(int)
#converting to a list and making it whole number
ages = ages.tolist()
len(ages)

20000

In [73]:
#gernarating gender male,female having probabilit of 50 -50 for both.
genders = np.random.choice(['Male', 'Female'], size=20000, p=[0.5, 0.5])
len(genders)

20000

In [52]:
#list to store martial status.
marital_status=[]
#deciding single or married oon basis of age and in the probability given assignment 1.
for age in ages: 
   if(age<=30 and age>=20):
        status = np.random.choice(['single','Married'],p=[0.75,0.25])
        marital_status.append(status)
   if(age>30 and age<=60):
         status = np.random.choice(['single','Married'],p=[0.25,0.75])
         marital_status.append(status)
   if(age>60 and age<=80):
        status = np.random.choice(['single','Married'],p=[0.5,0.5])
        marital_status.append(status)

def convert_marital_status(status):
    return 1 if status == 'Married' else 0

#converting married to 1 and single to 0.
martial_status= [convert_marital_status(status) for status in marital_status]

len(martial_status)

20000

In [75]:
no_of_childrens=[]
for age in ages:
    if 20 <= age <= 40:
        s = np.random.choice([0, 1, 2, 3, 4], p=[0.4, 0.3, 0.2, 0.1, 0])
        no_of_childrens.append(s)
    elif 40 < age <= 80:  # Use 'elif' and fix the condition
        s = np.random.choice([0, 1, 2, 3, 4], p=[0.1, 0.3, 0.3, 0.2, 0.1])
        no_of_childrens.append(s)
len(no_of_childrens)

20000

In [76]:
Education_Level = []
#making lis "education_Level" and adding data in it according to assignment 1.
for age in ages: 
   if(age<=25 and age>=20):
        status = np.random.choice(['No_education','Highschool','Bachelor degree','master degree','PHD'],p=[0.1,0.5,0.3,0.1,0])
        Education_Level.append(status)
   elif(age>25 and age<=35):
        status = np.random.choice(['No_education','Highschool','Bachelor degree','master degree','PHD'],p=[0.1,0.5,0.3,0.1,0])
        Education_Level.append(status)
   elif(age>35 and age<=80):
        status = np.random.choice(['No_education','Highschool','Bachelor degree','master degree','PHD'],p=[0.1,0.5,0.3,0.1,0])
        Education_Level.append(status)
#converting the data according
'''No_education': 0,
        'Highschool': 1,
        "Bachelor degree": 2,
        "master degree": 3,
        'PHD': 4'''
def convert_education_level(level):
    level_mapping = {
        'No_education': 0,
        'Highschool': 1,
        "Bachelor degree": 2,
        "master degree": 3,
        'PHD': 4
    }
    return level_mapping[level]


Education_Level = [convert_education_level(level) for level in Education_Level]
len(Education_Level)

20000

In [144]:
data = {
    'customer_ID': customer_ID,
    'ages': ages,
    'genders': genders,
    'marital_status': martial_status,
    'no_of_childrens': no_of_childrens,
    'education_Level': Education_Level
}

df = pd.DataFrame(data)

In [145]:
df

,customer_ID,ages,genders,marital_status,no_of_childrens,education_Level
0,2661066,67,Female,1,0,2
1,3848565,33,Female,1,0,0
2,5801450,68,Female,1,4,0
3,1041736,56,Male,1,1,1
4,9545654,33,Male,1,0,2
...,...,...,...,...,...,...
19995,2518384,49,Male,1,4,1
19996,8451333,69,Female,0,3,0
19997,3451736,41,Female,0,2,1
19998,9893821,56,Male,0,4,3
19999,5502663,23,Male,1,1,3

In [146]:
#adding new data frame annual_income to it. usign the formula given in the assignment 1.
df['annual_income'] = 40 * 52 * (15 + df['education_Level'] * 10 + (df['ages'] / 10) * 2)

In [147]:
#adding number of accounts in dataframe with the fromula given in assignment 1
df['number_of_accounts'] = df['marital_status'] + df['no_of_childrens'] + 1

In [148]:
# adding new column total_credit_line in dataframe with the formula give in assignment 1
df['total_credit_line'] = df['number_of_accounts'] * (df['annual_income'] / 10)

In [149]:
#customer table genrating.
customers=df
customers.to_csv("customers.csv",index=False)
customers.head()

,customer_ID,ages,genders,marital_status,no_of_childrens,education_Level,annual_income,number_of_accounts,total_credit_line
0,2661066,67,Female,1,0,2,100672.0,2,20134.4
1,3848565,33,Female,1,0,0,44928.0,2,8985.6
2,5801450,68,Female,1,4,0,59488.0,6,35692.8
3,1041736,56,Male,1,1,1,75296.0,3,22588.8
4,9545654,33,Male,1,0,2,86528.0,2,17305.6

The process involved creating unique customer IDs, generating random ages, assigning genders with equal probability, determining marital status based on age-specific distributions, randomly selecting the number of children, and assigning education levels with specified probabilities. The resulting data is organized into a DataFrame, and additional columns for annual income, number of accounts, and total credit line were calculated using the given formulas. The DataFrame, named 'customers,' was then exported to a CSV file for further analysis.

In [150]:
date_opened = pd.to_datetime(np.random.choice(pd.date_range(start='2017-01-01', end='2022-01-01'), size=20000, replace=True))
date_opened.tolist()
date_opened

DatetimeIndex(['2019-01-12', '2017-01-24', '2018-08-26', '2018-06-26',
               '2021-09-21', '2017-03-21', '2017-11-02', '2020-04-04',
               '2018-12-30', '2019-05-26',
               ...
               '2019-07-06', '2021-12-16', '2018-02-16', '2018-08-15',
               '2018-10-04', '2017-09-21', '2021-02-16', '2021-06-09',
               '2018-08-13', '2021-05-15'],
              dtype='datetime64[ns]', length=20000, freq=None)

In [151]:
accounts = pd.DataFrame({
    'customer_id': customer_ID,
    'date_opened': date_opened
})

In [161]:
accounts.sort_values(by=['customer_id', 'date_opened'], inplace=True)
accounts['Account_ID'] = accounts.groupby('customer_id').cumcount() + 1
accounts['Account_ID'] = accounts['customer_id'].astype(str) + accounts['Account Number'].astype(str)
accounts

KeyError: 'Account Number'

In [153]:
total_credit_line_column = customers['total_credit_line']
total_credit_line_column

0        20134.4
1         8985.6
2        35692.8
3        22588.8
4        17305.6
          ...
19995    43430.4
19996    23961.6
19997    20716.8
19998    58448.0
19999    30950.4
Name: total_credit_line, Length: 20000, dtype: float64

In [154]:
accounts['total_credit_line'] = total_credit_line_column
accounts['Account Credit Line'] = np.random.uniform(0.1, 0.9, size=len(accounts)) * accounts['total_credit_line']

In [155]:
#merzing annual fee in accounts column
accounts['Annual Fee'] = accounts['Account Credit Line'] * 0.01

In [156]:
#merging annual interest rate in the accounts table..
accounts['Annual Interest Rate'] = np.random.uniform(0.15, 0.30, size=len(accounts))

In [237]:
#final account data.
accounts
df.to_csv("accounts.csv",index=False)

In [163]:
customers.rename(columns={'customer_ID': 'customer_id'}, inplace=True)
account_activity = pd.merge(accounts, customers, on='customer_id', how='inner')

In [164]:
account_activity

,customer_id,date_opened,Account_ID,total_credit_line_x,Account Credit Line,Annual Fee,Annual Interest Rate,ages,genders,marital_status,no_of_childrens,education_Level,annual_income,number_of_accounts,total_credit_line_y
0,1000417,2017-02-26,1,36067.2,24304.033010,243.040330,0.262336,64,Female,1,1,3,120224.0,3,36067.2
1,1001734,2018-01-16,1,33280.0,23412.031822,234.120318,0.217576,25,Female,1,2,2,83200.0,4,33280.0
2,1001837,2017-01-04,1,20716.8,10518.609097,105.186091,0.205237,41,Female,1,1,1,69056.0,3,20716.8
3,1002845,2018-02-10,1,23462.4,8039.064437,80.390644,0.272925,63,Male,1,1,1,78208.0,3,23462.4
4,1002915,2021-03-07,1,30825.6,22327.992063,223.279921,0.299741,72,Male,1,1,2,102752.0,3,30825.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,9999211,2019-11-19,1,10732.8,4935.868966,49.358690,0.200639,54,Male,1,0,0,53664.0,2,10732.8
19996,9999395,2020-08-14,1,20467.2,11859.857298,118.598573,0.229783,21,Female,1,0,3,102336.0,2,20467.2
19997,9999732,2019-12-01,1,16806.4,9304.570851,93.045709,0.159590,27,Female,1,0,2,84032.0,2,16806.4
19998,9999771,2020-02-02,1,13644.8,8066.635649,80.666356,0.241986,39,Female,0,1,1,68224.0,2,13644.8
19999,9999863,2020-05-06,1,17056.0,3618.921115,36.189211,0.254438,30,Female,0,1,2,85280.0,2,17056.0

In [172]:
account_activity['Purchase Amount'] = np.where(
    np.random.rand(len(account_activity)) < 0.95,
    np.random.uniform(0, account_activity['Account Credit Line']),
    0
)
account_activity

,customer_id,date_opened,Account_ID,total_credit_line_x,Account Credit Line,Annual Fee,Annual Interest Rate,ages,genders,marital_status,no_of_childrens,education_Level,annual_income,number_of_accounts,total_credit_line_y,Purchase Amount
0,1000417,2017-02-26,1,36067.2,24304.033010,243.040330,0.262336,64,Female,1,1,3,120224.0,3,36067.2,17585.816326
1,1001734,2018-01-16,1,33280.0,23412.031822,234.120318,0.217576,25,Female,1,2,2,83200.0,4,33280.0,0.000000
2,1001837,2017-01-04,1,20716.8,10518.609097,105.186091,0.205237,41,Female,1,1,1,69056.0,3,20716.8,3801.220615
3,1002845,2018-02-10,1,23462.4,8039.064437,80.390644,0.272925,63,Male,1,1,1,78208.0,3,23462.4,8016.172366
4,1002915,2021-03-07,1,30825.6,22327.992063,223.279921,0.299741,72,Male,1,1,2,102752.0,3,30825.6,5113.455608
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,9999211,2019-11-19,1,10732.8,4935.868966,49.358690,0.200639,54,Male,1,0,0,53664.0,2,10732.8,3643.444125
19996,9999395,2020-08-14,1,20467.2,11859.857298,118.598573,0.229783,21,Female,1,0,3,102336.0,2,20467.2,640.270258
19997,9999732,2019-12-01,1,16806.4,9304.570851,93.045709,0.159590,27,Female,1,0,2,84032.0,2,16806.4,2443.349870
19998,9999771,2020-02-02,1,13644.8,8066.635649,80.666356,0.241986,39,Female,0,1,1,68224.0,2,13644.8,1256.618961
19999,9999863,2020-05-06,1,17056.0,3618.921115,36.189211,0.254438,30,Female,0,1,2,85280.0,2,17056.0,1274.719884

In [180]:


account_activity['Cash Advance Amount'] = np.where(
    np.random.rand(len(account_activity)) < 0.05,
    np.minimum(0.1 * account_activity['Account Credit Line'], account_activity['total_credit_line_x']),
    0
)

In [181]:
account_activity

,customer_id,date_opened,Account_ID,total_credit_line_x,Account Credit Line,Annual Fee,Annual Interest Rate,ages,genders,marital_status,no_of_childrens,education_Level,annual_income,number_of_accounts,total_credit_line_y,Purchase Amount,Cash Advance Amount,Balance Amount
0,1000417,2017-02-26,1,36067.2,24304.033010,243.040330,0.262336,64,Female,1,1,3,120224.0,3,36067.2,17585.816326,0.0,1.758582e+04
1,1001734,2018-01-16,1,33280.0,23412.031822,234.120318,0.217576,25,Female,1,2,2,83200.0,4,33280.0,0.000000,0.0,1.758582e+04
2,1001837,2017-01-04,1,20716.8,10518.609097,105.186091,0.205237,41,Female,1,1,1,69056.0,3,20716.8,3801.220615,0.0,2.138704e+04
3,1002845,2018-02-10,1,23462.4,8039.064437,80.390644,0.272925,63,Male,1,1,1,78208.0,3,23462.4,8016.172366,0.0,2.940321e+04
4,1002915,2021-03-07,1,30825.6,22327.992063,223.279921,0.299741,72,Male,1,1,2,102752.0,3,30825.6,5113.455608,0.0,3.451666e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,9999211,2019-11-19,1,10732.8,4935.868966,49.358690,0.200639,54,Male,1,0,0,53664.0,2,10732.8,3643.444125,0.0,1.262408e+08
19996,9999395,2020-08-14,1,20467.2,11859.857298,118.598573,0.229783,21,Female,1,0,3,102336.0,2,20467.2,640.270258,0.0,1.262414e+08
19997,9999732,2019-12-01,1,16806.4,9304.570851,93.045709,0.159590,27,Female,1,0,2,84032.0,2,16806.4,2443.349870,0.0,1.262439e+08
19998,9999771,2020-02-02,1,13644.8,8066.635649,80.666356,0.241986,39,Female,0,1,1,68224.0,2,13644.8,1256.618961,0.0,1.262465e+08
19999,9999863,2020-05-06,1,17056.0,3618.921115,36.189211,0.254438,30,Female,0,1,2,85280.0,2,17056.0,1274.719884,0.0,1.262478e+08

In [185]:
account_activity['Balance Amount'] = account_activity.groupby('Account_ID')['Purchase Amount'].cumsum() + \
                                    account_activity.groupby('Account_ID')['Cash Advance Amount'].cumsum()

# Cohort information

In [188]:
#1
customers = account_activity['customer_id'].nunique()
customers

20000

In [192]:
#2.
min_customer_id = account_activity['customer_id'].min()
max_customer_id = account_activity['customer_id'].max()

print(f"Minimum Customer ID: {min_customer_id}")
print(f"Maximum Customer ID: {max_customer_id}")

Minimum Customer ID: 1000417
Maximum Customer ID: 9999863

In [194]:
customer_ids = account_activity['customer_id'].nunique()
print(f"unique Customer IDs: {customer_ids}")

unique Customer IDs: 20000

In [195]:
age_statistics = account_activity['ages'].describe(percentiles=[.25, .5, .75])

min_age = age_statistics['min']
p25_age = age_statistics['25%']
median_age = age_statistics['50%']  # This is the median
p75_age = age_statistics['75%']
max_age = age_statistics['max']
mean_age = age_statistics['mean']
std_dev_age = age_statistics['std']

print(f"Minimum Age: {min_age}")
print(f"25th Percentile (P25): {p25_age}")
print(f"Median Age: {median_age}")
print(f"75th Percentile (P75): {p75_age}")
print(f"Maximum Age: {max_age}")
print(f"Mean Age: {mean_age}")
print(f"Standard Deviation of Age: {std_dev_age}")

Minimum Age: 20.0
25th Percentile (P25): 35.0
Median Age: 50.0
75th Percentile (P75): 65.0
Maximum Age: 80.0
Mean Age: 50.0682
Standard Deviation of Age: 17.27310530183672

In [196]:
#5.
gender_frequency_table = account_activity['genders'].value_counts()

gender_table = pd.DataFrame({
    'Category': gender_frequency_table.index,
    'Frequency': gender_frequency_table.values
})

print(gender_table)

  Category  Frequency
0     Male      10058
1   Female       9942

In [198]:
#6.
annual_activity = account_activity
marital_status_frequency_table = annual_activity['marital_status'].value_counts()
marital_status_percent_frequency = annual_activity['marital_status'].value_counts(normalize=True) * 100
marital_status_cumulative_frequency = marital_status_frequency_table.cumsum()
marital_status_cumulative_percent_frequency = marital_status_percent_frequency.cumsum()


marital_status_table = pd.DataFrame({
    'Category': marital_status_frequency_table.index,
    'Frequency': marital_status_frequency_table.values,
    'Percent Frequency': marital_status_percent_frequency.values,
    'Cumulative Frequency': marital_status_cumulative_frequency.values,
    'Cumulative Percent Frequency': marital_status_cumulative_percent_frequency.values
})

print(marital_status_table)

   Category  Frequency  Percent Frequency  Cumulative Frequency  \
0         1      11600               58.0                 11600
1         0       8400               42.0                 20000

   Cumulative Percent Frequency
0                          58.0
1                         100.0

In [199]:
#7.

In [201]:
#age in [20, 30]
age_20_30 = annual_activity[(annual_activity['ages'] >= 20) & (annual_activity['ages'] <= 30)]
marital_status_20_30_percent_frequency = age_20_30['marital_status'].value_counts(normalize=True) * 100

#  age in (30, 60]
age_30_60 = annual_activity[(annual_activity['ages'] > 30) & (annual_activity['ages'] <= 60)]
marital_status_30_60_percent_frequency = age_30_60['marital_status'].value_counts(normalize=True) * 100

# age in (60, 80]
age_60_80 = annual_activity[(annual_activity['ages'] > 60) & (annual_activity['ages'] <= 80)]
marital_status_60_80_percent_frequency = age_60_80['marital_status'].value_counts(normalize=True) * 100


print("Percent Frequency of Marital Status for customers with age in [20, 30]:")
print(marital_status_20_30_percent_frequency)

print("\nPercent Frequency of Marital Status for customers with age in (30, 60]:")
print(marital_status_30_60_percent_frequency)

print("\nPercent Frequency of Marital Status for customers with age in (60, 80]:")
print(marital_status_60_80_percent_frequency)

Percent Frequency of Marital Status for customers with age in [20, 30]:
1    58.955659
0    41.044341
Name: marital_status, dtype: float64

Percent Frequency of Marital Status for customers with age in (30, 60]:
1    57.67285
0    42.32715
Name: marital_status, dtype: float64

Percent Frequency of Marital Status for customers with age in (60, 80]:
1    58.003389
0    41.996611
Name: marital_status, dtype: float64

In [202]:

children_frequency_table = annual_activity['no_of_childrens'].value_counts()
children_percent_frequency = annual_activity['no_of_childrens'].value_counts(normalize=True) * 100
children_cumulative_frequency = children_frequency_table.cumsum()
children_cumulative_percent_frequency = children_percent_frequency.cumsum()


children_table = pd.DataFrame({
    'Category': children_frequency_table.index,
    'Frequency': children_frequency_table.values,
    'Percent Frequency': children_percent_frequency.values,
    'Cumulative Frequency': children_cumulative_frequency.values,
    'Cumulative Percent Frequency': children_cumulative_percent_frequency.values
})

print(children_table)

   Category  Frequency  Percent Frequency  Cumulative Frequency  \
0         1       5956             29.780                  5956
1         2       5199             25.995                 11155
2         0       4176             20.880                 15331
3         3       3345             16.725                 18676
4         4       1324              6.620                 20000

   Cumulative Percent Frequency
0                        29.780
1                        55.775
2                        76.655
3                        93.380
4                       100.000

In [203]:
#9.

In [204]:
# age in [20, 40]
age_20_40 = annual_activity[(annual_activity['ages'] >= 20) & (annual_activity['ages'] <= 40)]
children_20_40_percent_frequency = age_20_40['no_of_childrens'].value_counts(normalize=True) * 100

#  age in (40, 80]
age_40_80 = annual_activity[(annual_activity['ages'] > 40) & (annual_activity['ages'] <= 80)]
children_40_80_percent_frequency = age_40_80['no_of_childrens'].value_counts(normalize=True) * 100


print("Percent Frequency of Number of Children for customers with age in [20, 40]:")
print(children_20_40_percent_frequency)

print("\nPercent Frequency of Number of Children for customers with age in (40, 80]:")
print(children_40_80_percent_frequency)

Percent Frequency of Number of Children for customers with age in [20, 40]:
0    41.048292
1    29.858657
2    19.125442
3     9.967609
Name: no_of_childrens, dtype: float64

Percent Frequency of Number of Children for customers with age in (40, 80]:
1    29.739552
2    29.527559
3    20.199879
0    10.508783
4    10.024228
Name: no_of_childrens, dtype: float64

In [205]:

education_frequency_table = annual_activity['education_Level'].value_counts()
education_percent_frequency = annual_activity['education_Level'].value_counts(normalize=True) * 100
education_cumulative_frequency = education_frequency_table.cumsum()
education_cumulative_percent_frequency = education_percent_frequency.cumsum()


education_table = pd.DataFrame({
    'Category': education_frequency_table.index,
    'Frequency': education_frequency_table.values,
    'Percent Frequency': education_percent_frequency.values,
    'Cumulative Frequency': education_cumulative_frequency.values,
    'Cumulative Percent Frequency': education_cumulative_percent_frequency.values
})

print(education_table)

   Category  Frequency  Percent Frequency  Cumulative Frequency  \
0         1      10080             50.400                 10080
1         2       5952             29.760                 16032
2         0       1999              9.995                 18031
3         3       1969              9.845                 20000

   Cumulative Percent Frequency
0                        50.400
1                        80.160
2                        90.155
3                       100.000

In [206]:
#11.
# age in [20, 25]
age_20_25 = annual_activity[(annual_activity['ages'] >= 20) & (annual_activity['ages'] <= 25)]
education_20_25_percent_frequency = age_20_25['education_Level'].value_counts(normalize=True) * 100

# age in (25, 35]
age_25_35 = annual_activity[(annual_activity['ages'] > 25) & (annual_activity['ages'] <= 35)]
education_25_35_percent_frequency = age_25_35['education_Level'].value_counts(normalize=True) * 100

# age in (35, 80]
age_35_80 = annual_activity[(annual_activity['ages'] > 35) & (annual_activity['ages'] <= 80)]
education_35_80_percent_frequency = age_35_80['education_Level'].value_counts(normalize=True) * 100


print("Percent Frequency of Education Level for customers with age in [20, 25]:")
print(education_20_25_percent_frequency)

print("\nPercent Frequency of Education Level for customers with age in (25, 35]:")
print(education_25_35_percent_frequency)

print("\nPercent Frequency of Education Level for customers with age in (35, 80]:")
print(education_35_80_percent_frequency)

Percent Frequency of Education Level for customers with age in [20, 25]:
1    51.367951
2    28.252373
0    10.552764
3     9.826912
Name: education_Level, dtype: float64

Percent Frequency of Education Level for customers with age in (25, 35]:
1    49.608434
2    29.909639
0    10.722892
3     9.759036
Name: education_Level, dtype: float64

Percent Frequency of Education Level for customers with age in (35, 80]:
1    50.460071
2    29.907986
3     9.866344
0     9.765599
Name: education_Level, dtype: float64

In [207]:
#12.

In [208]:

annual_income_statistics = annual_activity['annual_income'].describe(percentiles=[.25, .5, .75])

min_annual_income = annual_income_statistics['min']
p25_annual_income = annual_income_statistics['25%']
median_annual_income = annual_income_statistics['50%']  # This is the median
p75_annual_income = annual_income_statistics['75%']
max_annual_income = annual_income_statistics['max']
mean_annual_income = annual_income_statistics['mean']
std_dev_annual_income = annual_income_statistics['std']


print(f"Minimum Annual Income: {min_annual_income}")
print(f"25th Percentile (P25) Annual Income: {p25_annual_income}")
print(f"Median Annual Income: {median_annual_income}")
print(f"75th Percentile (P75) Annual Income: {p75_annual_income}")
print(f"Maximum Annual Income: {max_annual_income}")
print(f"Mean Annual Income: {mean_annual_income}")
print(f"Standard Deviation of Annual Income: {std_dev_annual_income}")

Minimum Annual Income: 39520.0
25th Percentile (P25) Annual Income: 67808.0
Median Annual Income: 80288.0
75th Percentile (P75) Annual Income: 93600.0
Maximum Annual Income: 126880.0
Mean Annual Income: 81035.0112
Standard Deviation of Annual Income: 18101.49720990853

In [209]:
#13.

In [211]:

accounts_frequency_table = annual_activity['number_of_accounts'].value_counts()
accounts_percent_frequency = annual_activity['number_of_accounts'].value_counts(normalize=True) * 100
accounts_cumulative_frequency = accounts_frequency_table.cumsum()
accounts_cumulative_percent_frequency = accounts_percent_frequency.cumsum()


accounts_table = pd.DataFrame({
    'Category': accounts_frequency_table.index,
    'Frequency': accounts_frequency_table.values,
    'Percent Frequency': accounts_percent_frequency.values,
    'Cumulative Frequency': accounts_cumulative_frequency.values,
    'Cumulative Percent Frequency': accounts_cumulative_percent_frequency.values
})

print(accounts_table)

   Category  Frequency  Percent Frequency  Cumulative Frequency  \
0         3       5691             28.455                  5691
1         2       4913             24.565                 10604
2         4       4398             21.990                 15002
3         5       2479             12.395                 17481
4         1       1743              8.715                 19224
5         6        776              3.880                 20000

   Cumulative Percent Frequency
0                        28.455
1                        53.020
2                        75.010
3                        87.405
4                        96.120
5                       100.000

## 14

In [212]:

total_credit_line_statistics = annual_activity['total_credit_line_y'].describe(percentiles=[.25, .5, .75])

min_total_credit_line = total_credit_line_statistics['min']
p25_total_credit_line = total_credit_line_statistics['25%']
median_total_credit_line = total_credit_line_statistics['50%']  # This is the median
p75_total_credit_line = total_credit_line_statistics['75%']
max_total_credit_line = total_credit_line_statistics['max']
mean_total_credit_line = total_credit_line_statistics['mean']
std_dev_total_credit_line = total_credit_line_statistics['std']


print(f"Minimum Total Credit Line: {min_total_credit_line}")
print(f"25th Percentile (P25) Total Credit Line: {p25_total_credit_line}")
print(f"Median Total Credit Line: {median_total_credit_line}")
print(f"75th Percentile (P75) Total Credit Line: {p75_total_credit_line}")
print(f"Maximum Total Credit Line: {max_total_credit_line}")
print(f"Mean Total Credit Line: {mean_total_credit_line}")
print(f"Standard Deviation of Total Credit Line: {std_dev_total_credit_line}")

Minimum Total Credit Line: 3952.0
25th Percentile (P25) Total Credit Line: 16556.8
Median Total Credit Line: 24460.8
75th Percentile (P75) Total Credit Line: 33446.4
Maximum Total Credit Line: 76128.0
Mean Total Credit Line: 25880.59136000005
Standard Deviation of Total Credit Line: 12515.20666113389

# Accounts information

In [213]:
#1

In [214]:
min_date_opened = annual_activity['date_opened'].min()
max_date_opened = annual_activity['date_opened'].max()

print(f"Minimum Date Opened: {min_date_opened}")
print(f"Maximum Date Opened: {max_date_opened}")

Minimum Date Opened: 2017-01-01 00:00:00
Maximum Date Opened: 2022-01-01 00:00:00

In [215]:
#2

In [217]:

annual_activity['date_opened'] = pd.to_datetime(annual_activity['date_opened'])


reference_date = pd.to_datetime('2022-01-01')
annual_activity['account_age'] = (reference_date - annual_activity['date_opened']).dt.days // 365


age_statistics = annual_activity['account_age'].describe(percentiles=[.25, .5, .75])

min_age = age_statistics['min']
p25_age = age_statistics['25%']
median_age = age_statistics['50%']  # This is the median
p75_age = age_statistics['75%']
max_age = age_statistics['max']
mean_age = age_statistics['mean']
std_dev_age = age_statistics['std']

print(f"Minimum Age of Accounts: {min_age} years")
print(f"25th Percentile (P25) Age of Accounts: {p25_age} years")
print(f"Median Age of Accounts: {median_age} years")
print(f"75th Percentile (P75) Age of Accounts: {p75_age} years")
print(f"Maximum Age of Accounts: {max_age} years")
print(f"Mean Age of Accounts: {mean_age} years")
print(f"Standard Deviation of Age of Accounts: {std_dev_age} years")

Minimum Age of Accounts: 0.0 years
25th Percentile (P25) Age of Accounts: 1.0 years
Median Age of Accounts: 2.0 years
75th Percentile (P75) Age of Accounts: 3.0 years
Maximum Age of Accounts: 5.0 years
Mean Age of Accounts: 2.0033 years
Standard Deviation of Age of Accounts: 1.4141743543336036 years

In [218]:
#3

In [220]:

annual_activity['date_opened'] = pd.to_datetime(annual_activity['date_opened'])


reference_date = pd.to_datetime('2022-01-01')
annual_activity['account_age'] = (reference_date - annual_activity['date_opened']).dt.days // 365


annual_activity['account_age_flag'] = annual_activity['ages'] - annual_activity['account_age'] >= 20


account_age_flag_frequency_table = annual_activity['account_age_flag'].value_counts()
account_age_flag_percent_frequency = annual_activity['account_age_flag'].value_counts(normalize=True) * 100
account_age_flag_cumulative_frequency = account_age_flag_frequency_table.cumsum()
account_age_flag_cumulative_percent_frequency = account_age_flag_percent_frequency.cumsum()


account_age_flag_table = pd.DataFrame({
    'Category': account_age_flag_frequency_table.index,
    'Frequency': account_age_flag_frequency_table.values,
    'Percent Frequency': account_age_flag_percent_frequency.values,
    'Cumulative Frequency': account_age_flag_cumulative_frequency.values,
    'Cumulative Percent Frequency': account_age_flag_cumulative_percent_frequency.values
})

print(account_age_flag_table)

  Category  Frequency  Percent Frequency  Cumulative Frequency  \
0     True      19463             97.315                 19463
1    False        537              2.685                 20000

   Cumulative Percent Frequency
0                        97.315
1                       100.000

In [221]:
#4

In [222]:
min_account_number = annual_activity['Account_ID'].min()
max_account_number = annual_activity['Account_ID'].max()

print(f"Minimum Account Number: {min_account_number}")
print(f"Maximum Account Number: {max_account_number}")

Minimum Account Number: 1
Maximum Account Number: 1

In [223]:
#5

In [225]:
# Extract the last digit of the 'Account Number' column
annual_activity['last_digit'] = annual_activity['Account_ID'] % 10


last_digit_frequency_table = annual_activity['last_digit'].value_counts()
last_digit_percent_frequency = annual_activity['last_digit'].value_counts(normalize=True) * 100
last_digit_cumulative_frequency = last_digit_frequency_table.cumsum()
last_digit_cumulative_percent_frequency = last_digit_percent_frequency.cumsum()


last_digit_table = pd.DataFrame({
    'Category': last_digit_frequency_table.index,
    'Frequency': last_digit_frequency_table.values,
    'Percent Frequency': last_digit_percent_frequency.values,
    'Cumulative Frequency': last_digit_cumulative_frequency.values,
    'Cumulative Percent Frequency': last_digit_cumulative_percent_frequency.values
})

print(last_digit_table)

   Category  Frequency  Percent Frequency  Cumulative Frequency  \
0         1      20000              100.0                 20000

   Cumulative Percent Frequency
0                         100.0

In [226]:
#6

In [227]:

account_credit_line_statistics = annual_activity['Account Credit Line'].describe(percentiles=[.25, .5, .75])

min_account_credit_line = account_credit_line_statistics['min']
p25_account_credit_line = account_credit_line_statistics['25%']
median_account_credit_line = account_credit_line_statistics['50%']  # This is the median
p75_account_credit_line = account_credit_line_statistics['75%']
max_account_credit_line = account_credit_line_statistics['max']
mean_account_credit_line = account_credit_line_statistics['mean']
std_dev_account_credit_line = account_credit_line_statistics['std']

# Display the results
print(f"Minimum Account Credit Line: {min_account_credit_line}")
print(f"25th Percentile (P25) Account Credit Line: {p25_account_credit_line}")
print(f"Median Account Credit Line: {median_account_credit_line}")
print(f"75th Percentile (P75) Account Credit Line: {p75_account_credit_line}")
print(f"Maximum Account Credit Line: {max_account_credit_line}")
print(f"Mean Account Credit Line: {mean_account_credit_line}")
print(f"Standard Deviation of Account Credit Line: {std_dev_account_credit_line}")

Minimum Account Credit Line: 534.4253553238183
25th Percentile (P25) Account Credit Line: 5902.054594780068
Median Account Credit Line: 10748.418606671199
75th Percentile (P75) Account Credit Line: 17812.260917995263
Maximum Account Credit Line: 62425.72358577053
Mean Account Credit Line: 12968.916283901659
Standard Deviation of Account Credit Line: 9132.36508287575

In [228]:
#7

In [230]:

total_account_credit_lines = annual_activity['Account Credit Line'].sum()


annual_activity['account_credit_line_flag'] = annual_activity['Account Credit Line'].sum() == total_account_credit_lines


account_credit_line_flag_frequency_table = annual_activity['account_credit_line_flag'].value_counts()
account_credit_line_flag_percent_frequency = annual_activity['account_credit_line_flag'].value_counts(normalize=True) * 100
account_credit_line_flag_cumulative_frequency = account_credit_line_flag_frequency_table.cumsum()
account_credit_line_flag_cumulative_percent_frequency = account_credit_line_flag_percent_frequency.cumsum()

# Create a DataFrame
account_credit_line_flag_table = pd.DataFrame({
    'Category': account_credit_line_flag_frequency_table.index,
    'Frequency': account_credit_line_flag_frequency_table.values,
    'Percent Frequency': account_credit_line_flag_percent_frequency.values,
    'Cumulative Frequency': account_credit_line_flag_cumulative_frequency.values,
    'Cumulative Percent Frequency': account_credit_line_flag_cumulative_percent_frequency.values
})

print(account_credit_line_flag_table)

  Category  Frequency  Percent Frequency  Cumulative Frequency  \
0     True      20000              100.0                 20000

   Cumulative Percent Frequency
0                         100.0

In [231]:
#8

In [232]:

annual_fee_statistics = annual_activity['Annual Fee'].describe(percentiles=[.25, .5, .75])

min_annual_fee = annual_fee_statistics['min']
p25_annual_fee = annual_fee_statistics['25%']
median_annual_fee = annual_fee_statistics['50%'] #median
p75_annual_fee = annual_fee_statistics['75%']
max_annual_fee = annual_fee_statistics['max']
mean_annual_fee = annual_fee_statistics['mean']
std_dev_annual_fee = annual_fee_statistics['std']

print(f"Minimum Annual Fee: {min_annual_fee}")
print(f"25th Percentile (P25) Annual Fee: {p25_annual_fee}")
print(f"Median Annual Fee: {median_annual_fee}")
print(f"75th Percentile (P75) Annual Fee: {p75_annual_fee}")
print(f"Maximum Annual Fee: {max_annual_fee}")
print(f"Mean Annual Fee: {mean_annual_fee}")
print(f"Standard Deviation of Annual Fee: {std_dev_annual_fee}")

Minimum Annual Fee: 5.3442535532381825
25th Percentile (P25) Annual Fee: 59.020545947800684
Median Annual Fee: 107.484186066712
75th Percentile (P75) Annual Fee: 178.12260917995263
Maximum Annual Fee: 624.2572358577053
Mean Annual Fee: 129.6891628390166
Standard Deviation of Annual Fee: 91.32365082875765

In [233]:
#9

In [234]:

annual_activity['annual_fee_flag'] = annual_activity['Annual Fee'] == annual_activity['Account Credit Line'] * 0.01


annual_fee_flag_frequency_table = annual_activity['annual_fee_flag'].value_counts()
annual_fee_flag_percent_frequency = annual_activity['annual_fee_flag'].value_counts(normalize=True) * 100
annual_fee_flag_cumulative_frequency = annual_fee_flag_frequency_table.cumsum()
annual_fee_flag_cumulative_percent_frequency = annual_fee_flag_percent_frequency.cumsum()


annual_fee_flag_table = pd.DataFrame({
    'Category': annual_fee_flag_frequency_table.index,
    'Frequency': annual_fee_flag_frequency_table.values,
    'Percent Frequency': annual_fee_flag_percent_frequency.values,
    'Cumulative Frequency': annual_fee_flag_cumulative_frequency.values,
    'Cumulative Percent Frequency': annual_fee_flag_cumulative_percent_frequency.values
})

print(annual_fee_flag_table)

  Category  Frequency  Percent Frequency  Cumulative Frequency  \
0     True      20000              100.0                 20000

   Cumulative Percent Frequency
0                         100.0

In [235]:
#10

In [236]:

annual_interest_rate_statistics = annual_activity['Annual Interest Rate'].describe(percentiles=[.25, .5, .75])

min_annual_interest_rate = annual_interest_rate_statistics['min']
p25_annual_interest_rate = annual_interest_rate_statistics['25%']
median_annual_interest_rate = annual_interest_rate_statistics['50%']  # This is the median
p75_annual_interest_rate = annual_interest_rate_statistics['75%']
max_annual_interest_rate = annual_interest_rate_statistics['max']
mean_annual_interest_rate = annual_interest_rate_statistics['mean']
std_dev_annual_interest_rate = annual_interest_rate_statistics['std']


print(f"Minimum Annual Interest Rate: {min_annual_interest_rate}")
print(f"25th Percentile (P25) Annual Interest Rate: {p25_annual_interest_rate}")
print(f"Median Annual Interest Rate: {median_annual_interest_rate}")
print(f"75th Percentile (P75) Annual Interest Rate: {p75_annual_interest_rate}")
print(f"Maximum Annual Interest Rate: {max_annual_interest_rate}")
print(f"Mean Annual Interest Rate: {mean_annual_interest_rate}")
print(f"Standard Deviation of Annual Interest Rate: {std_dev_annual_interest_rate}")

Minimum Annual Interest Rate: 0.1500073005030298
25th Percentile (P25) Annual Interest Rate: 0.18641066151725416
Median Annual Interest Rate: 0.22474401249267995
75th Percentile (P75) Annual Interest Rate: 0.26237570529692217
Maximum Annual Interest Rate: 0.29999666597153973
Mean Annual Interest Rate: 0.22459033280998397
Standard Deviation of Annual Interest Rate: 0.043479048901188116

In [250]:
end_time = time.time()
execution_time = end_time - start_time
logger.info(f"Simulation completed in {execution_time:.2f} seconds")

In [251]:
mem_usage_start = memory_profiler.memory_usage()[0]

In [257]:

# Measure memory usage after the simulatio
mem_usage_end = memory_profiler.memory_usage()[0]
mem_usage_diff = mem_usage_end - mem_usage_start
logger.info(f"Memory usage: {mem_usage_diff:.2f} MB")
with open('simulation.log', 'r') as log_file:
        log_contents = log_file.read()
        print(log_contents)

print(f"Total execution time: {execution_time:.2f} seconds")
print(f"Total memory used: {mem_usage_diff:.2f} MB")

2023-11-12 12:15:17,095 [INFO] [__main__]: Simulation completed in 39.17 seconds
2023-11-12 12:17:05,447 [INFO] [__main__]: Simulation completed in 147.52 seconds
2023-11-12 12:17:40,518 [INFO] [__main__]: Memory usage: 0.00 MB
2023-11-12 12:17:59,727 [INFO] [__main__]: Memory usage: 0.00 MB

Total execution time: 147.52 seconds
Total memory used: 0.00 MB